/**
 * @file
 * Block Styling
 */


.block { /* Block wrapper */
  margin-bottom: 1.5em;
}

.block.first { /* The first block in the region */
}

.block.last { /* The last block in the region */
}

.block.odd { /* Zebra striping for each block in the region */
}

.block.even { /* Zebra striping for each block in the region */
 color: #fff;
}

h2.block-title { /* Block title */
  font-size: 16px;
}

#block-aggregator-category-1 { /* Block for the latest news items in the first category */
}

#block-aggregator-feed-1 { /* Block for the latest news items in the first feed */
}

#block-block-1 { /* First block created with "Add block" link */
}

#block-blog-recent { /* "Recent blog posts" block */
}

#block-book-navigation { /* "Book navigation" block for the current book's table of contents */
}

#block-comment-recent { /* "Recent comments" block */
}

#block-forum-active { /* "Active forum topics" block */
}

#block-forum-new { /* "New forum topics" block */
}

#block-locale-language { /* Language switcher block */
}

#block-menu-menu-NAME { /* Custom menu block */
}

#block-node-recent { /* "Recent content" block */
}

#block-node-syndicate { /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

#block-poll-recent { /* "Most recent poll" block */
}

#block-profile-author-information { /* "Author information" block for the profile of the page's author */
}

#block-search-form { /* "Search form" block */
  display: inline-block;
  position: absolute;
  width: 250px;
}

#block-search-form h2 {
  display: none;
  height: 0;
  width: 0;
}

#block-drupinas-core-login {
  display: inline-block;
  float: right;
  margin-top: 4px;
}

#block-drupinas-core-login a{
  text-decoration:none;
  text-transform: uppercase;
}

#block-shortcut-shortcuts { /* "Shortcuts" block */
}

#block-statistics-popular { /* "Popular content" block */
}

#block-system-main-menu { /* "Main menu" block */
}

#block-system-management { /* "Management" block for Drupal management menu */
}

#block-system-navigation { /* "Navigation" block for Drupal navigation menu */
}

#block-system-user-menu { /* "User menu" block for Drupal user menu */
}

#block-system-help { /* "System help" block */
}

#block-system-main { /* "Main page content" block */
}

#block-system-powered-by { /* "Powered by Drupal" block */
}

#block-user-login { /* "User login form" block */
}

#block-user-new { /* "Who's new" block for a list of the newest users */
}

#block-user-online { /* "Who's online" block for a list of the online users */
}

#block-views-featured-on-blog-block {
  width: 960px;
  margin: 0 auto;
  color: #4d4d4d;
}

#block-views-featured-on-blog-block .block-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  padding: 30px 0 10px;
}

#block-views-featured-on-blog-block td {
  text-align: left;
  padding-right: 10px;
  vertical-align: top;
  width: 300px;

}

#block-views-featured-on-blog-block a {
  text-decoration: none;
  color: #4d4d4d;
}

#block-views-featured-on-blog-block .views-field-title {
  padding-top: 10px;
  font-size: 20px;
}

.date-display-single {
 text-transform: uppercase;
 font-size:14px;
}

#block-views-featured-on-blog-block .views-field-body p {
  position: relative;
}

#block-views-featured-on-blog-block p a.views-more-link {
  right: 10px;
  float: right;
  top: 40px;
  position: relative;
  font-size:12px;
}


#block-drupinas-core-login a {
  color: #4d4d4d;
  text-decoration: none;
}

#block-search-form #edit-actions,
#block-search-form #edit-actions--2 {
  display: none;
}

#edit-search-block-form--2 {
  outline: none;
	border: 0 none;
	background: #e6e6e6;
  padding: 6px;
  width: 100%;
  color: #4d4d4d;
}

/** Footer Block **/
#footer .block {
 display: inline-block;
 vertical-align: top;
 margin-left : 20px;
}

#block-menu-menu-connect li {
 background: url("../images/facebook-icon.png") no-repeat center left;
 padding-left: 35px;
}

#block-menu-menu-connect li + li {
 background: url("../images/twitter-icon.png") no-repeat center left;
 padding-left: 35px;
}

#block-menu-menu-connect li + li + li{
 background: url("../images/youtube-icon.png") no-repeat center left;
 padding-left: 35px;
}
