/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

#page {
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;
}
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */

#header {
  width: 960px;
  margin: 0 auto;
  position: relative;
  padding: 10px 0;
}

.brand {
  width: 48%;
  float: left;
  position: relative;
}

.brand #logo { /* Wrapping link for logo */
  float: left; /* LTR */
  margin: 0;
  padding: 0;
  width: 50%;
}

.brand #logo img {
  vertical-align: bottom;
}

.user-login {
  position: absolute;
  right: 10px;
  width: 65%;
  margin-top: 10px;
}

.region-user {
  position: relative;
}

#name-and-slogan { /* Wrapper for website name and slogan */
  float: left;
}

#site-name { /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}

#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

.region-header { /* Wrapper for any blocks placed in the header region */
  clear: both; /* Clear the logo */
}

.hero {
  width: 100%;
  height: 470px;
}

/*
 * Main (container for everything else)
 */

#main {
  padding: 0;
}

/*
 * Content
 */

#content {
  width:960px;
  margin: 0 auto;
}

.region-highlighted {
}

.breadcrumb { /* The path to the current page in the form of a list of links */
 margin: 20px 0 0;
}
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.breadcrumb ol li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #dc1221;
  
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
}

tr.even { /* Some tables have rows marked even or odd. */
  /* background-color: #lineeee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */
}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0; /* LTR */
}

span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
.item-list .pager li { /* Each page number in the pager list */
  padding: 0 0.5em;
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * .her(see the layout.css file.)
 */
 
 /*
 * Event
 */
.event-wrapper {
  background: url(../images/event-bg.jpg);
  background-size: cover;
  height: 320px;
  width: 100%;
}

.event {
  color: #ffffff;
  margin: 0 auto;
  width: 960px;
  height: 320px;
}

.event img {
  border-radius: 100%;
  width: 230px;
  height: 230px;
  float: left;
  margin: 10px 70px 0 0;
  position: relative;
bottom: 40px;
}

.event .date-display-single, .event .views-field-field-address {
  font-size: 14px;
  text-transform: Capitalize;
}

.event .views-field-title {
  font-size: 30px;
  line-height: 30px;;
  width: 800px;
  padding-left: 250px;
  height:100px;
}


.event .view-id-events {
margin: 30px 0;
}

.event .view-header a{
  color: #ffffff;
  float: right;
  display:inline;
  padding: -20px 0;
}

.event a{
  color: #FFF;
  text-decoration: none;
}

.event a:hover  {
  color: #f2f2f2;
}


.region-event .block-views .block-title {
  padding: 10px 0;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
}
.region-event .contextual-links-region .block-title a{
  color: #FFF;
  clear: both;
  margin-bottom:150px;
}

.circle-image {
  width:220px;
  height:220px;
  background-color: #fff;
  border-radius: 75%;
  float: left;
  margin: 40px 100px;
}

.content-wrapper {
  width: 960px;
  margin: 0 auto;
}

/*
 * Forum
 */
.forum {
  margin-top: 30px;
  float: left;
  width: 30%;
  height: 400px;
  position:absolute;
}

.region-forum {
  padding: 20px 10px;
}
.region-forum .block-views .block-title {
  font-size: 16px;
  color: #acacac;
}

.region-forum .field-content a {
  color: #acacac;
}

/*
 * Recent Question & Answer
 */
.recent-qna {
  float: left;
  width: 50%;
  padding: 30px 10px 0;
}

.recent-qna .block-title {
  font-size: 16px;
  color: #ACACAC;
  
}

.recent-qna .region-recent-qna {
  padding: 10px 15px 2px;
  color: #4d4d4d; 
}

.recent-qna .views-row {
  clear: both;
  min-height: 91px;
}

.recent-qna .views-field-nothing {
  margin-right: 20px;
  float: left;
  text-align: center;
}

.recent-qna .vote-count .vote, .recent-qna .vote-count .answer-count {
  color: #4d4d4d;
  font-size:19px;
  font-weight: bold;
}

.recent-qna .vote-count .value-label, .recent-qna .vote-count .answer-label  {
  font-size: 12px; 
}

.recent-qna .views-field-title {
  margin-top: 10px;
}

.recent-qna .views-field-title a {
  font-size: 16px;
  color: #4d4d4d;
  width: 350px;
}

.recent-qna .views-field-body {
  margin-top: -20px;
  font-size: 12px;
  width: 350px;
  padding-left: 70px;
}

.recent-qna .views-field-field-qna-tags {
  width: 350px;
  margin: 20px 0 20px 30px;
}

.recent-qna .views-field-field-qna-tags a {
  color: #5FB7E7;
  font-size: 12px;
  text-transform: capitalize; 
  width: 350px;\
  margin: 10px 0 10px 30px;
}

/*
 * Job 
 */
.jobs {
  float: right;
  width: 45%;
  padding: 70px 10px;
}

.region-jobs {
  background-color: #202427;
  padding: 10px 15px 2px;
}

.region-jobs  .block-views .block-title {
  font-size: 16px;
  color: #acacac;
  text-align: center;
}

.region-jobs .block-views .view-jobs .views-row-odd {
 margin-top: 30px;
 background: url("../images/button.png") no-repeat center 10%, #DEF078;
 padding: 20px;
 text-align: center;
 transform:rotate(1deg);
-ms-transform:rotate(1deg); /* IE 9 */
-webkit-transform:rotate(1deg); /* Safari and Chrome */
}

.region-jobs .block-views .view-jobs .views-row-even  {
 margin-top: 30px;
 background: url("../images/button.png") no-repeat center 10%, #DEF078;
 
 padding: 20px;
 text-align: center;
 transform:rotate(-1deg);
 -ms-transform:rotate(-1deg); /* IE 9 */
 -webkit-transform:rotate(-1deg); /* Safari and Chrome */
}

.region-jobs .view-all-available-job a {
  color: #FFF;
  margin-left: 140px;
}
.jobs .view-footer {
  margin: 20px auto;
  text-align: center;
}

.jobs .view-footer a{
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
}

.region-sidebar-second {
}

/*
 * Footer
 */
 
.footer-wrapper{
  width: 100%;
  background: url(../images/footer-bg.jpg) no-repeat center center;
  background-size: cover;
  height: 566px;
}

.footer {
  position: relative;
  width: 960px;
  margin: 0 auto;
  color: #ffffff;
  font-size: 16px;
}

footer .menu {
 float : left;
 padding: 5px;
}

footer .menu .leaf, 
footer .menu .leaf .active{
 list-style: none;
 color: #fff;
 margin-top: 10px;
}

.region-footer a{
 color: #fff;
}

#block-menu-menu-navigate .menu {
  width:250px;
  margin-bottom:20px;
  overflow:hidden;
}

#block-menu-menu-navigate .menu .leaf {
 line-height: 1.5em;
 float: left;
 display: inline;
}

#block-menu-menu-navigate .leaf {
 width:50%;
}

#block-menu-menu-connect {

}

#block-menu-menu-connect .leaf a {
 font-size: 12px;
}

#block-drupinas-core-aboutfooter {
 padding-left: 25px;
 font-size: 12px;
}

#block-drupinas-core-aboutfooter header {
 font-family: Arial;
 font-size: 16px;
}

#footer {
}

/*
 * Page bottom
 */

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
}


/*
 * Line Stripe
 */
 
.line-stripe{
  background: url(../images/line-stripe.png) repeat-x;
  height: 3px;
  width:100%;
}

/* Profile */
.entity-profile2 .field {
  padding: 6px 0;
}

.entity-profile2 div .field-label-inline .field-label {
  width: 200px;
}

.entity-profile2 div .field-name-field-profile-image {
  float: left;
  margin-right: 10px;
}

.entity-profile2 div .field-name-field-profile-name + div {
  clear: both;
}

.entity-profile2 div .field-name-field-profile-name {
  font-size: 2em;
  border-bottom: 2px solid #000;
  width: 100%;
  clear: both;
}

.entity-profile2 div .field-label-inline .field-items a {
  color: #0678BE;
}


/*
 * Jobs Page
 */
 
 #content  {
